.link {
  cursor: pointer;
}
.burger {
  width: 20px;
  height: 16px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--textColor);
}
.responsiveMenu {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  width: 100%;
  gap: 50px;
  font-size: 36px;
  z-index: 100;
}

@media screen and (max-width: 640px) {
  .burger {
    display: flex;
  }
  .link {
    display: none;
  }
}
