.container {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.img {
  object-fit: cover;
}
.date {
  color: gray;
}
.category {
  color: crimson;
  font-weight: 500;
}

.description {
  color: var(--softTextColor);
  font-weight: 300;
  font-size: 18px;
}
.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 10px 0;
}
@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}
