/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/pagination/pagination.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__MjtB3 {
  display: flex;
  justify-content: space-between;
}

.pagination_button__EHYZp {
  color: white;
  width: 100px;
  padding: 16px;
  border: none;
  background-color: crimson;
  cursor: pointer;
}
.pagination_button__EHYZp:disabled {
  background-color: rgba(220, 20, 60, 0.715);
  cursor: not-allowed;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/featured/featured.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.featured_container__9bUI6 {
  margin-top: 30px;
}
.featured_title__rFWcP {
  font-size: 75px;
  font-weight: 300;
}

.featured_post__sWkzO {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.featured_imageContainer__3OSgC {
  height: 500px;
  flex: 1 1;
  position: relative;
}

.featured_image__s8EnU {
  object-fit: cover;
}
.featured_textConatiner__cMjik {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.featured_postTitle__juEkV {
  font-size: 32px;
}
.featured_postDescription__mYygJ {
  font-size: 20px;
  font-weight: 300;
  color: var(--softTextColor);
}
.featured_button__ufmSY {
  padding: 16px 23px;
  width: max-content;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid gray;
}

@media screen and (max-width: 1280px) {
  .featured_title__rFWcP {
    font-size: 65px;
  }
}
@media screen and (max-width: 1024px) {
  .featured_title__rFWcP {
    font-size: 55px;
  }
  .featured_imageContainer__3OSgC {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .featured_title__rFWcP {
    font-size: 45px;
  }
}

@media screen and (max-width: 630px) {
  .featured_title__rFWcP {
    font-size: 35px;
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/homepage.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.homepage_content__m6Qf_ {
  display: flex;
  gap: 50px;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/categoryList/categoryList.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.categoryList_container__s6HpR {
}

.categoryList_title__8DsfE {
  margin: 50px 0px;
}

.categoryList_categories__JjFld {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.categoryList_category__kGfZ1 {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}
.categoryList_image__DU_oJ {
  border-radius: 50%;
}

.categoryList_category__kGfZ1.categoryList_news__qmxvK {
  background-color: #57c4ff31;
}

.categoryList_category__kGfZ1.categoryList_fashion__GFI8t {
  background-color: #da85c731;
}

.categoryList_category__kGfZ1.categoryList_food__AaDJS {
  background-color: #7fb88133;
}

.categoryList_category__kGfZ1.categoryList_travel__gnqt1 {
  background-color: #ff795736;
}

.categoryList_category__kGfZ1.categoryList_culture__N8ciR {
  background-color: #ffb04f45;
}

.categoryList_category__kGfZ1.categoryList_coding__nDVNj {
  background-color: #5e4fff31;
}

@media screen and (max-width: 1280px) {
  .categoryList_category__kGfZ1 {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .categoryList_category__kGfZ1 {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .categoryList_category__kGfZ1 {
    width: 45%;
  }
}
@media screen and (max-width: 630px) {
  .categoryList_category__kGfZ1 {
    width: 100%;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/cardList/cardList.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.cardList_container__tWwXs {
  flex: 5 1;
}

.cardList_title__fyoKM {
  margin: 50px 0;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/card/card.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.card_container__xBy9R {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.card_imageContainer__0rYcM {
  flex: 1 1;
  height: 350px;
  position: relative;
}
.card_textContainer__uD6_C {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card_img__KrhW6 {
  object-fit: cover;
}
.card_date__IWhCo {
  color: gray;
}
.card_category__QmWQb {
  color: crimson;
  font-weight: 500;
}

.card_description__Wu6dy {
  color: var(--softTextColor);
  font-weight: 300;
  font-size: 18px;
}
.card_link__yV43X {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 10px 0;
}
@media screen and (max-width: 1024px) {
  .card_imageContainer__0rYcM {
    display: none;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/menu/menu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.menu_container__jTKJp {
  flex: 2 1;
  margin-top: 60px;
}

.menu_subTitle__i6cCx {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}
.menu_title__QQ7Zn {
  font-size: 28px;
}
@media screen and (max-width: 1024px) {
  .menu_container__jTKJp {
    display: none;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/MenuPost/menupost.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.menupost_imageContainer__d2lM1 {
  flex: 1 1;
  position: relative;
  aspect-ratio: 1/1;
}
.menupost_image__RLIPE {
  border: 3px solid lightgray;
  border-radius: 50%;
  object-fit: cover;
}
.menupost_textContainer__8hybR {
  flex: 4 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menupost_postTitle__5_cxJ {
  font-size: 18px;
  font-weight: 500;
  color: var(--softTextColor);
}
.menupost_details__IadB0 {
  font-size: 12px;
}

.menupost_date__v_3D4 {
  color: gray;
}

.menupost_items__pFkQf {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.menupost_item__34LDj {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menupost_category__H83aA {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  width: max-content;
}
.menupost_category__H83aA.menupost_news__EnzJo {
  background-color: #ff7857;
}

.menupost_category__H83aA.menupost_fashion__Ntjcr {
  background-color: #ffb14f;
}

.menupost_category__H83aA.menupost_food__huSXH {
  background-color: #7fb881;
}

.menupost_category__H83aA.menupost_travel__4Zy78 {
  background-color: #ff7887;
}

.menupost_category__H83aA.menupost_culture__u8gY3 {
  background-color: #775aec;
}

.menupost_category__H83aA.menupost_coding__ON_9s {
  background-color: #789cff;
}



/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/MenuCategory/menucategory.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.menucategory_categoryList__Kw2ds {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menucategory_categoryItem__PjRGi {
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 10px;
}
.menucategory_categoryItem__PjRGi.menucategory_news__n8b7h {
  background-color: #57c4ff31;
}

.menucategory_categoryItem__PjRGi.menucategory_fashion__h9oW1 {
  background-color: #da85c731;
}

.menucategory_categoryItem__PjRGi.menucategory_food__DNhmq {
  background-color: #7fb88133;
}

.menucategory_categoryItem__PjRGi.menucategory_travel__vunGV {
  background-color: #ff795736;
}

.menucategory_categoryItem__PjRGi.menucategory_culture__Tnikq {
  background-color: #ffb04f45;
}

.menucategory_categoryItem__PjRGi.menucategory_coding__an7k8 {
  background-color: #5e4fff31;
}

